<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Layout}">
<head>
    <title>Friendships</title>
</head>
<body>
<section layout:fragment="content">
    <p th:text="${followerInfo}"></p>
    <p>has followees as below</p>
    <table>
        <tr>
            <th>User ID</th>
            <th>first name</th>
            <th>last name</th>
        </tr>
        <tr th:each="user:${users}">
            <td th:text="${user.userId}"></td>
            <td th:text="${user.userFirstName}"></td>
            <td th:text="${user.userLastName}"></td>
        </tr>

    </table>
</section>

</body>
</html>